$black: rgb(29, 29, 29);
$blueberry: rgb(72, 78, 167);

$spacing-unit: 15px;
$bottomNavHeight: 160px;
$fontSizeTiny: 10px;

html {
  box-sizing: border-box;
  font-size: 15px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

body {
  background-color: #EFEDEA;
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  font-size: 17px;
  color: #4A4A4A;
}

main {
  padding-bottom: $bottomNavHeight;
}

a > svg {
  color: $black;
}

h2 {
  color: white;
  font-size: 30px;
}

.button {
  background: #6369B7;
  border-radius: 32px;
  padding: 0 60px;
  height: 47px;
  line-height: 47px;
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: bold;

  &--tiny {
    font-size: $fontSizeTiny;
    text-transform: uppercase;
    padding: 0 15px;
    height: 25px;
    line-height: 25px;

  }

  &--icon {
    background: transparent;
    color: $black;
  }
}

.range-slider {
  height: 50px;

  &__labels {
    display: flex;

    > span {
      flex-grow: 1;
      font-size: $fontSizeTiny;
      text-transform: uppercase;
      font-weight: bold;

      &:first-child {
        align-self: flex-start;
      }

      &:last-child {
        align-self: flex-end;
        text-align: right;
      }
    }
  }
  
  > input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background: rgba(61, 61, 61, 0.3);
    height: 3px;
    margin-bottom: $spacing-unit * 1.5;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-thumb {
      position: relative;
      top: 7px;
      appearance: none;
      -webkit-appearance: none;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      margin-top: -14px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.31);
    }
  }
}

.header {
  display: flex;
  background: $blueberry;
  height: 45px;

  &__title {
    flex-grow: 2;
    align-self: center;
    padding-left: $spacing-unit;

    > a {
      display: inline-block;
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;

      &::after {
        content: "®";
        font-size: 9px;
        vertical-align: super;
        margin-left: 0.5em;
      }
    }
  }

  &__notifications {
    padding: $spacing-unit;
  }

  &__user-summary {
    padding: 12px ($spacing-unit + 30px) 10px 0;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    text-align: right;  
    position: relative;

    > span {
      display: block;

      &:first {
        font-weight: bold;
      }

      > span {
        font-size: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $spacing-unit;
      }
    }
  }

  &__phase {
    opacity: 0.5;
  }
}

main {
  padding: $spacing-unit;
}

.footer {
  display: flex;
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &__left {
    padding: $spacing-unit / 2 $spacing-unit;
    display: flex;
    align-self: center;
  }

  &__middle {
    flex-grow: 2;
    justify-content: center;
    display: flex;
    

    > button {
      width: 80px;
      height: 80px;
      position: relative;
      top: -20px;

      > span > svg {
        width: 100% !important;
        height: auto;
        background: white;
        border-radius: 50%;
      }
    }
  }

  &__right {
    padding: $spacing-unit / 2 $spacing-unit;
    display: flex;
    align-self: center;
  }
}

.editorial-article {
  small {
    line-height: 1.75;
    min-height: 60px;

    > span {
      font-weight: bold;
    }
  }
}

.editorial-article {
  padding-bottom: 50px;
}

.slider-wrapper {
  position: relative;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: $spacing-unit * 3;
  width: 100%;

  > span {
    display: inline-block;
    height: $spacing-unit * 0.75;
    width: $spacing-unit * 0.75;
    background-color: lighten($black, 50%);
    border-radius: 50%;

    &.active {
      background-color: $black;
    }

    & + span {
      margin-left: $spacing-unit / 2;
    }
  }
}

.chartjs-render-monitor {
  background: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3d3d3d;
  z-index: 100;

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    > .button { 
      color: white;
      font-size: 42px;
      font-weight: 100;
    }
  }
}

.data-input {
  display: block;
  appearance: none;
  border: none;
  border-bottom: 1px solid #CBCBCB;
  width: 100%;
  font-size: 40px;
  font-weight: 100;
  padding: 5px;
}

.form-group {
  background: white;

  > p {
    display: block;
    margin-bottom: $spacing-unit * 1.5;
  }

  > .form-input {
    position: relative;
    
    > input {
      margin-bottom: 15px;
    }
  }

  .input-units {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }

  .input-label {
    text-transform: uppercase;
    font-weight: bold;  
    font-size: $fontSizeTiny;
    font-weight: bold;
  }
}

.hero {
  background: lighten($blueberry, 7%);
  position: relative;

  > a {
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: $spacing-unit;

    > span {
      &:first-child {
        font-size: 13px;
        text-transform: uppercase;
        display: block;
      }

      & + span {
        font-size: 50px;
      }

      &:last-of-type {
        display: block;
        font-size: 12px;
        margin-top: $spacing-unit / 2;
        text-transform: none;
      }
    }

    > svg {
      position: absolute;
      right: $spacing-unit;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      width: 40px;
      height: 40px;
    }
  }

  .unit {
    text-transform: lowercase;
    font-size: 34px;
    margin-left: 10px;
  }
}