html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

button {
  padding: 0;
  border: 0;
  background-color: transparent; }

body {
  background-color: #EFEDEA;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  font-size: 17px;
  color: #4A4A4A; }

a > svg {
  color: #1d1d1d; }

.header {
  display: flex;
  background: white; }
  .header__title {
    text-align: center;
    flex-grow: 2;
    align-self: center; }
    .header__title > span {
      display: inline-block; }
  .header__notifications {
    padding: 15px; }
  .header__user {
    padding: 15px; }

main {
  padding: 15px; }

.footer {
  display: flex;
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }
  .footer__left {
    padding: 7.5px 15px;
    display: flex;
    align-self: center; }
  .footer__middle {
    flex-grow: 2;
    justify-content: center;
    display: flex; }
    .footer__middle > button {
      width: 80px;
      height: 80px;
      position: relative;
      top: -20px; }
      .footer__middle > button > span > svg {
        width: 100% !important;
        height: auto;
        background: white;
        border-radius: 50%; }
  .footer__right {
    padding: 7.5px 15px;
    display: flex;
    align-self: center; }

.editorial-article small {
  line-height: 1.75;
  min-height: 60px; }
  .editorial-article small > span {
    font-weight: bold; }

.editorial-article {
  padding-bottom: 50px; }

.slider-wrapper {
  position: relative; }

.slider-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 45px;
  width: 100%; }
  .slider-pagination > span {
    display: inline-block;
    height: 11.25px;
    width: 11.25px;
    background-color: #9d9d9d;
    border-radius: 50%; }
    .slider-pagination > span.active {
      background-color: #1d1d1d; }
    .slider-pagination > span + span {
      margin-left: 7.5px; }
